mat-tab-group {
  padding: 28px 28px 0;
}
.questAdd {
  padding: 24px;
  li {
    margin-bottom: 8px;
    display: flex;
    align-items: start;
  }
  span {
    margin-right: 12px;
  }
}
.questSet {
  padding: 24px;
  .quesSetType {
    display: flex;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #999;
    li {
      margin-right: 8px;
    }
  }
  .questSetOption {
    margin-bottom: 24px;
    font-size: 14px;
    border-bottom: 1px solid #999;
    .addItem {
      display: flex;
      justify-content: space-between;
      padding-bottom: 24px;
      li {
        display: flex;
        align-items: center;
        span {
          margin-right: 8px;
        }
      }
    }
    .addOptionWrap {
      padding-bottom: 24px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .addOption {
      list-style: decimal;
      padding-left: 24px;
      li {
        margin-bottom: 4px;
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
  .questSetList {
    table {
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #333;
    }
    th, td {
      border: 1px solid #999;
      padding: 4px;
    }
    .submitBtn {
      margin-top: 24px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
.addOptionContent {
  .option {
    margin-bottom: 4px;
  }

  .delBtn {
    margin-left: 4px;
    border: 1px solid #AF3E3E;
    color: #AF3E3E;
    background-color: #fff;
    line-height: 1.5;
    border-radius: 4px;
    transition: .1s;
    &:hover {
      color: #fff;
      background-color: #AF3E3E;
    }
  }
}