<div class="loginWrapper">
  <div class="loginImg"></div>

  <div class="loginContent">
    <h3>Login</h3>

    <ul class="loginList">
      <li class="loginAcc">
        <img src="/people.png" class="loginList_icon loginAcc_icon" alt="img_people">
        <input type="email" placeholder="Email">
      </li>
      <li class="loginPwd">
        <img src="/password.png" class="loginList_icon loginPwd_icon" alt="img_password">
        <input type="password" placeholder="Password">
        <img src="/eye_close.png" class="loginList_icon loginPwd_hide" style="cursor: pointer" alt="img_eye">
      </li>

      <li>
        <ul class="loginLink">
          <li class="loginLink_remember">
            <div class="toggleBtn">
              <div class="toggleBtn_inner"></div>
            </div>
            <a href="###">remember me</a>
          </li>
          <li class="loginLink_forgot">
            <a href="###">forgot password</a>
          </li>
        </ul>
      </li>
      <li>
        <button class="loginBtn">Login</button>
      </li>
      <li class="loginCreate"><a href="###">Create Account</a></li>
    </ul>
  </div>
</div>