.container {
  max-width: 768px;
  margin: 30px auto 0;
}
.answerList {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    div {
      width: 45%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    input {
      width: 80%;
    }
  }
  li:first-child {
    margin-bottom: 8px;
  }
}