// 測試用列表--------
app-menu {
  position: fixed;
  right: 0;
  top: 0;
  background: #578FCA;
  cursor: pointer;

  width: 100px;
  height: 75px;

  clip-path: polygon(
    0% 0%,       /* 頂點 */
    100% 0%,     /* 右上 */
    100% 100%,     /* 右下 */
  );

  transition: .3s;

  &:hover {
    width: 200px;
    height: 75px;
    clip-path: polygon(
      0% 0%,       /* 頂點 */
      100% 0%,     /* 右上 */
      100% 100%,     /* 右下 */
    );
  }
}
// --------

.container {
  max-width: 768px;
  margin: 30px auto 0;
}
.questionnaireDate {
  display: flex;
  justify-content: flex-end;
}
.questionnaireTitle {
  font-size: 28px;
  margin-bottom: 24px;
}
.questionnaireDescription {
  margin-bottom: 24px;
}
.answerUsers {
  margin-bottom: 24px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    div {
      width: 45%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    input {
      width: 80%;
    }
  }
  li:first-child {
    margin-bottom: 8px;
  }
}

.answerContent {
  .answerContentTitle {
    margin-bottom: 12px;
  }
  .answerContentItem {
    margin-bottom: 24px;
  }
}

.submitButtons {
  display: flex;
  justify-content: flex-end;
}
