<div class="container">

  <p class="questionnaireDate">2025/07/09 - 2025/09/12</p>

  <h2 class="questionnaireTitle">問卷題目</h2>

  <p class="questionnaireDescription">古北她喝花己意看對乞也戊哪吹生它止青即，王斤一片打笑「原未蝶」父祖大婆訴後後年完害斤遠身公。很兌五下司兆衣，石個大即草怕去中定來頁且棵辛里辛「冒民青飯日向個」未子息斥天良頭麼。古北她喝花己意看對乞也戊哪吹生它止青即，王斤一片打笑「原未蝶」父祖大婆訴後後年完害斤遠身公。很兌五下司兆衣，石個大即草怕去中定來頁且棵辛里辛「冒民青飯日向個」未子息斥天良頭麼。</p>

  <ul class="answerUsers">
    <li>
      <div>
        <p>姓名</p>
        <input>
      </div>
      <div>
        <p>手機</p>
        <input>
      </div>
    </li>
    <li>
      <div>
        <p>Email</p>
        <input>
      </div>
      <div>
        <p>年齡</p>
        <input>
      </div>
    </li>
  </ul>

  <ul class="answerContent">
    <li class="answerContentItem">
      <p class="answerContentTitle">1.請選擇您喜歡的國家：</p>
      <ul>
        <li>
          <label for="japan">日本</label>
          <input type="radio" name="country" value="japan">
        </li>
        <li>
          <label for="taiwan">台灣</label>
          <input type="radio" name="country" value="taiwan">
        </li>
        <li>
          <label for="england">英國</label>
          <input type="radio" name="country" value="england">
        </li>
        <li>
          <label for="austraria">澳洲</label>
          <input type="radio" name="country" value="austraria">
        </li>
      </ul>
    </li>

    <li>
      <p class="answerContentTitle">2.請說明原因：</p>
      <textarea rows="6" cols="50"></textarea>
    </li>
  </ul>

  <div class="submitButtons">
    <button>取消</button>
    <button>送出</button>
  </div>

</div>
