<app-menu></app-menu>

<div class="container">
  <!-- 上方搜尋欄 -->
  <ul class="topbar">
    <li>
      <p>問卷名稱</p>
      <input placeholder="請輸入問券名稱關鍵字" [(ngModel)]="inputContent" (ngModelChange)="searchByFilters()">
    </li>
    <li>
      <div>
        <p>開始時間</p>
        <input type="date" [(ngModel)]="filterStartDate">
      </div>
      <div>
        <p>結束時間</p>
        <input type="date" [(ngModel)]="filterEndDate">
      </div>
      <button (click)="searchByFilters()">搜尋</button>
      <button class="inputBtn" (click)="clearFilters()">清除</button>

    </li>
  </ul>

  <button class="baseBtn" style="margin-right: 4px; color: #fff;" matButton (click)="openDialog()">新增</button>
  <button class="baseBtn" style="color: #fff;" (click)="deleteData()">刪除</button>

  <!-- 下方列表 -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="newData">

      <ng-container matColumnDef="選取操作">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <input type="checkbox" [(ngModel)]="element.checked">
        </td>
      </ng-container>

      <ng-container matColumnDef="編號">
        <th mat-header-cell *matHeaderCellDef> 編號 </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <ng-container matColumnDef="名稱">
        <th mat-header-cell *matHeaderCellDef> 名稱 </th>
        <td mat-cell *matCellDef="let element">
          <a *ngIf="element.status == '進行中'" routerLink="" style="color: #6192c6;">{{ element.name }}</a>
          <span *ngIf="element.status != '進行中'">{{ element.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="狀態">
        <th mat-header-cell *matHeaderCellDef> 狀態 </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="開始時間">
        <th mat-header-cell *matHeaderCellDef> 開始時間 </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
      </ng-container>

      <ng-container matColumnDef="結束時間">
        <th mat-header-cell *matHeaderCellDef> 結束時間 </th>
        <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
      </ng-container>

      <ng-container matColumnDef="結果">
        <th mat-header-cell *matHeaderCellDef> 結果 </th>
        <td mat-cell *matCellDef="let element">
          <a *ngIf="element.status == '已結束'" routerLink="" style="color: rgb(143, 112, 202);">查看結果</a>
          <span *ngIf="element.status != '已結束'">-</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [attr.data-result]="row.id"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>