// 測試用列表--------
app-menu {
  position: fixed;
  right: 0;
  top: 0;
  background: #578fca;
  cursor: pointer;

  width: 100px;
  height: 75px;

  clip-path: polygon(
    0% 0%,
    /* 頂點 */ 100% 0%,
    /* 右上 */ 100% 100%,
    /* 右下 */
  );

  transition: 0.3s;

  &:hover {
    width: 200px;
    height: 75px;
    clip-path: polygon(
      0% 0%,
      /* 頂點 */ 100% 0%,
      /* 右上 */ 100% 100%,
      /* 右下 */
    );
  }
}

// --------

.nav {
  height: 64px;
  background: #131921;

  &_list {
    justify-content: space-between;
    padding: 0 24px;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .search {
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    height: 32px;

    img {
      display: inline-block;
      width: 32px;
      height: 32px;
      background: #febd69;
      padding: 6px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #ffaa3b;
      }
    }

    input {
      padding-left: 8px;
      height: 32px;
      width: 400px;
      border: 0;

      &:focus {
        outline: none;
      }
    }
  }
  &_icon {
    position: relative;
  }

  &_icon .bubble {
    position: absolute;
    width: 150px;
    height: 70px;
    left: -16.5px;
    bottom: -80px;
    background: #fff;
    border: 2px solid #34699a;
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 14px;
    text-align: center;
    overflow: visible;
    display: none;
  }

  &_icon .bubble.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_icon .bubble::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-12px);
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 14px solid #34699a;
    z-index: 98;
  }

  &_icon .bubble::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-10px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #fff;
    /* 與泡泡同色 */
    z-index: 99;
  }
  .nav_icon img {
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: perspective(100px) translateZ(15px);
    }
  }
}

.container {
  // max-width: 768px;
  max-width: 1024px;
  margin: 0 auto;
  // padding-top: 40px;
}

.topbar_bg {
  background: #232f3e;
}

.topbar {
  font-family: "Noto Sans TC", "Work Sans", "LXGW WenKai Mono TC", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  margin-bottom: 32px;

  li {
    display: flex;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      width: 42%;
    }

    p {
      margin-right: 10px;
      white-space: nowrap;
      font-size: 15px;
      color: #fff;
    }

    input {
      width: 100%;
      font-size: 14px;
      padding: 6px 8px;
      border-radius: 4px;
      border: 0;

      &:focus {
        outline: 2px solid #ffaa3c;
      }
    }
    .btn_group {
      margin-right: calc(100% - 90px);
    }
    button {
      border: none;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      transition: 0.1s;
      outline: 2px solid #ffaa3c;

      &:hover {
        background: #ffaa3c;
        outline: 2px solid #fff;
        color: #fff;
      }
    }
  }

  li:last-child {
    margin-bottom: 0;
  }
}

.list {
  padding-bottom: 40px;
}

table {
  th,
  tr,
  td {
    vertical-align: middle;
    text-align: center;
  }
}

table[mat-table] {
  table-layout: fixed;
  width: 100%;
}

/* 同時打到 header 與 body 的該欄位 */
th.mat-mdc-header-cell.cdk-column-名稱,
td.mat-mdc-cell.cdk-column-名稱 {
  width: 180px !important;
  max-width: 180px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 內容是 <a>/<span> 時避免把欄位撐爆 */
td.mat-mdc-cell.cdk-column-名稱 a,
td.mat-mdc-cell.cdk-column-名稱 span {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.mat-mdc-row {
  transition: 0.3s;

  &:hover {
    background: #ffaa3c16;
  }
}

.mat-mdc-paginator {
  background-color: #34699a;
  color: #fff;
  // opacity: .8;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  border-bottom: 1px solid #232f3e69;
}

::ng-deep .mat-mdc-paginator {
  color: #fff; // 控制整體字體顏色
}

::ng-deep .mat-mdc-paginator .mat-mdc-select-value {
  color: #fff; // 下拉選單內數字顏色
}

::ng-deep .mat-mdc-paginator .mat-mdc-paginator-range-label {
  color: #fff; // 「第 1–10 筆，共 xx 筆」文字顏色
}

::ng-deep .mat-mdc-paginator .mat-mdc-icon-button svg {
  fill: #fff; // 改箭頭的填滿顏色
}

::ng-deep .mat-mdc-paginator .mat-mdc-icon-button {
  --mdc-icon-button-icon-color: #fff;
  --mdc-icon-button-disabled-icon-color: #9e9e9e;
}

footer {
  width: 100%;
  height: 40px;
  background: #232f3e;
  position: fixed;
  bottom: 0;
}
