<app-menu></app-menu>

<div class="container">
  <!-- 上方搜尋欄 -->
  <ul class="topbar">
    <li>
      <p>問卷名稱</p>
      <input placeholder="請輸入問券名稱關鍵字" [(ngModel)]="inputContent" (ngModelChange)="searchByFilters()">
    </li>
    <li>
      <div>
        <p>開始時間</p>
        <input type="date" [(ngModel)]="filterStartDate">
      </div>
      <div>
        <p>結束時間</p>
        <input type="date" [(ngModel)]="filterEndDate">
      </div>
      <button (click)="searchByFilters()">搜尋</button>
      <button class="inputBtn" (click)="clearFilters()">清除</button>
    </li>
  </ul>

  <button class="baseBtn" style="margin-right: 4px; color: #fff;" matButton (click)="openDialog()">新增</button>
  <button class="baseBtn" style="color: #fff;" (click)="onDeleteClick()">刪除</button>

  <!-- 下方列表 -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="newData">

      <ng-container matColumnDef="選取操作">
        <th mat-header-cell *matHeaderCellDef style="width:10%"></th>
        <td mat-cell *matCellDef="let element" style="width:10%">
          <input type="checkbox" [(ngModel)]="element.checked" (ngModelChange)="onCheckChange(element, $event)">
        </td>
      </ng-container>

      <ng-container matColumnDef="編號">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> 編號 </th>
        <td mat-cell *matCellDef="let element" style="width:10%"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="名稱">
        <th mat-header-cell *matHeaderCellDef style="width:20%"> 名稱 </th>
        <td mat-cell *matCellDef="let element" style="width:20%">
          <a *ngIf="status(element) === '進行中'" routerLink="" style="color: #6192c6;">
            {{ element.name }}
          </a>
          <span *ngIf="status(element) !== '進行中'">{{ element.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="狀態">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> 狀態 </th>
        <td mat-cell *matCellDef="let element" style="width:10%"> {{ status(element) }} </td>
      </ng-container>

      <ng-container matColumnDef="開始時間">
        <th mat-header-cell *matHeaderCellDef style="width:15%"> 開始時間 </th>
        <td mat-cell *matCellDef="let element" style="width:15%"> {{element.startDate}} </td>
      </ng-container>

      <ng-container matColumnDef="結束時間">
        <th mat-header-cell *matHeaderCellDef style="width:15%"> 結束時間 </th>
        <td mat-cell *matCellDef="let element" style="width:15%"> {{element.endDate}} </td>
      </ng-container>

      <ng-container matColumnDef="結果">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> 結果 </th>
        <td mat-cell *matCellDef="let element" style="width:10%">
          <a *ngIf="status(element) === '已結束'" routerLink="" style="color: rgb(143, 112, 202);">
            <img src="search.png" alt="img_search" style="display: inline-block; width: 16px; height: 16px;">
          </a>
          <span *ngIf="status(element) !== '已結束'">-</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="編輯">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> 編輯 </th>
        <td mat-cell *matCellDef="let element" style="width:10%">
          <!-- [routerLink]="['/back/backEdit', element.id]" 可以直接帶值跳轉頁面 -->
          <a *ngIf="['尚未開始','尚未發布'].includes(status(element))" [routerLink]="['/back/backEdit', element.id]" style="color: rgb(32, 70, 136);">
            <img src="edit.png" alt="img_eidt" style="display: inline-block; width: 16px; height: 16px;">
          </a>

          <span *ngIf="['已結束','進行中'].includes(status(element))">-</span>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [attr.data-result]="row.id"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>