
<div class="container">

  <p class="questionnaireDate">2025/07/09 - 2025/09/12</p>

  <h2 class="questionnaireTitle">{{ questionnaireTitleCheck }}</h2>

  <p class="questionnaireDescription">{{ questionnaireDescCheck }}</p>

  <ul class="answerUsers">
    <li>
      <div>
        <p>姓名：{{ userName }}</p>
      </div>
      <div>
        <p>手機：{{ userPhone }}</p>
      </div>
    </li>
    <li>
      <div>
        <p>Email：{{ userEmail }}</p>
      </div>
      <div>
        <p>年齡：{{ userAge }}</p>
      </div>
    </li>
  </ul>

  <ul class="answerContent">
    <li class="answerContentItem">
      <p class="answerContentTitle">1.請選擇您喜歡的國家：{{ userQuestCheck }}</p>
      <ul>
        <li></li>
      </ul>
    </li>

  </ul>

  <div class="submitButtons">
    <button>回上頁</button>
    <button>送出</button>
  </div>

</div>
