
<div class="container">

  <p class="questionnaireDate">2025/07/09 - 2025/09/12</p>

  <h2 class="questionnaireTitle">問卷題目</h2>

  <p class="questionnaireDescription">古北她喝花己意看對乞也戊哪吹生它止青即，王斤一片打笑「原未蝶」父祖大婆訴後後年完害斤遠身公。很兌五下司兆衣，石個大即草怕去中定來頁且棵辛里辛「冒民青飯日向個」未子息斥天良頭麼。古北她喝花己意看對乞也戊哪吹生它止青即，王斤一片打笑「原未蝶」父祖大婆訴後後年完害斤遠身公。很兌五下司兆衣，石個大即草怕去中定來頁且棵辛里辛「冒民青飯日向個」未子息斥天良頭麼。</p>

  <ul class="answerUsers">
    <li>
      <div>
        <p>姓名：{{ userNameCheck }}</p>
      </div>
      <div>
        <p>手機：{{ userPhoneCheck }}</p>
      </div>
    </li>
    <li>
      <div>
        <p>Email：{{ userEmailCheck }}</p>
      </div>
      <div>
        <p>年齡：{{ userAgeCheck }}</p>
      </div>
    </li>
  </ul>

  <ul class="answerContent">
    <li class="answerContentItem">
      <p class="answerContentTitle">1.請選擇您喜歡的國家：{{ userAnswer1Check }}</p>
      <ul>
        <li></li>
      </ul>
    </li>

    <li>
      <p class="answerContentTitle">2.請說明原因：{{ userAnswer2Check }}</p>
    </li>
  </ul>

  <div class="submitButtons">
    <button>修改</button>
    <button>送出</button>
  </div>

</div>
