<!-- <app-menu></app-menu> -->

<nav class="nav">
  <ul class="nav_list">
    <li class="">
      <div class="search">
        <input placeholder="請輸入問卷名稱" [(ngModel)]="inputContent" (ngModelChange)="searchByFilters()">
        <div>
          <img src="search_black.png" alt="search_img">
        </div>
      </div>
    </li>
    <li class="nav_icon">
      <div class="bubble" [class.open]="isBubbleOpen">
        <p style="color: #34699A;">{{ user.name }}</p>
        <p style="color: #34699A;">{{ user.email }}</p>
      </div>
      <img style="width: 28px; height: 28px; margin-left: 16px;" src="user.png" alt="登入資訊"
        (click)="toggleBubble($event)">
      <img style="width: 28px; height: 28px; margin-left: 16px;" src="logout.png" alt="登出"
        (click)="checkToLogout('/login')">
    </li>
  </ul>
</nav>
<div class=" topbar_bg">
  <div class="container">
    <ul class="topbar">
      <li class="topbar_date">
        <div style="width: 308px;">
          <p>開始日期</p>
          <input type="date" [(ngModel)]="filterStartDate" style="margin-right: 24px;">
        </div>
        <div>
          <p>結束日期</p>
          <input type="date" [(ngModel)]="filterEndDate" style="width: 300px;">
        </div>
      </li>
      <li class="topbar_btn">
        <div>
          <button (click)="searchByFilters()">搜尋</button>
          <button class="inputBtn" (click)="clearFilters()" style="margin-left: 12px;">清除</button>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="container list">
  <!-- 上方搜尋欄 -->


  <!-- 下方列表 -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="newData">

      <ng-container matColumnDef="編號">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> 編號 </th>
        <td mat-cell *matCellDef="let element" style="width:10%"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="名稱">
        <th mat-header-cell *matHeaderCellDef style="width:20%"> 名稱 </th>
        <td mat-cell *matCellDef="let element" style="width:20%">
          <!-- <a *ngIf="status(element) === '進行中'" [routerLink]="['/front/answer', element.id]" style="color: #34699A;"> -->
          <a *ngIf="status(element) === '進行中'" [routerLink]="['/front/answer', element.id]" [state]="{user: user}"
            style="color: #34699A;">
            {{ element.name }}
          </a>
          <span *ngIf="status(element) !== '進行中'">{{ element.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="狀態">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> 狀態 </th>
        <td mat-cell *matCellDef="let element" style="width:10%"> {{ status(element) }} </td>
      </ng-container>

      <ng-container matColumnDef="開始日期">
        <th mat-header-cell *matHeaderCellDef style="width:15%"> 開始日期 </th>
        <td mat-cell *matCellDef="let element" style="width:15%"> {{element.startDate}} </td>
      </ng-container>

      <ng-container matColumnDef="結束日期">
        <th mat-header-cell *matHeaderCellDef style="width:15%"> 結束日期 </th>
        <td mat-cell *matCellDef="let element" style="width:15%"> {{element.endDate}} </td>
      </ng-container>

      <ng-container matColumnDef="結果">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> 結果 </th>
        <td mat-cell *matCellDef="let element" style="width:10%">
          <a *ngIf="status(element) === '已結束'" routerLink="" style="color: rgb(143, 112, 202);">
            <img src="search.png" alt="img_search" style="display: inline-block; width: 16px; height: 16px;">
          </a>
          <span *ngIf="status(element) !== '已結束'">-</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [attr.data-result]="row.id"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>

<footer>
</footer>